@import 'toast.scss';

.container {
    margin: 100px auto;
    max-width: 800px;
}

.box {
    height: 50px;
    background-color: #777;
    margin-bottom: 20px;

    &:hover {
        background-color: coral;
    }
}

table {
    background-color: yellow;
}
.row {
    margin-top: 20px;
}
.text {
    background-color: pink;
}

.tall {
    height: 100px;
}

.tinted {
    background-color: lightblue;
}
